{{>layout/header}} <!-- >는 현재 머스테치 파일을 기준으로 다른 파일을 가져옴. -->

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>회원정보 수정</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<!-- 구 스토리보드 마이페이지(정보수정) Start -->
<!--<div class="service_area">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12">-->
<!--                <div class="section_title text-center mb-90">-->
<!--                    <span class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s"></span>-->
<!--                    <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">정보 수정</h3>-->
<!--                    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">어떤 것을 수정할 것인지 선택해주세요</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row" style="display:block; text-align:center;">-->
<!--            <div class="col-lg-4 col-md-6" style="display:inline-block;">-->
<!--                <div class="single_service wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".5s">-->
<!--                    <div class="service_icon_wrap text-center">-->
<!--                        <div class="service_icon ">-->
<!--                            <img src="img/svg_icon/service_1.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="info text-center">-->
<!--                        <h3>회원 정보</h3>-->
<!--                    </div>-->
<!--                    <div class="service_icon ">-->
<!--                        <img src="img/svg_icon/service_3.png" alt="">-->
<!--                    </div>-->
<!--                    <div class="service_content">-->
<!--                        <div class="apply_btn">-->
<!--                            <button class="boxed-btn3" type="submit"> 수정</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;-->
<!--            <div class="col-lg-4 col-md-6" style="display:inline-block;">-->
<!--                <div class="single_service wow fadeInRight" data-wow-duration="1.2s" data-wow-delay=".5s">-->
<!--                    <div class="service_icon_wrap text-center">-->
<!--                        <div class="service_icon ">-->
<!--                            <img src="img/svg_icon/service_3.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="info text-center">-->
<!--                        <h3>차량 등록</h3>-->
<!--                    </div>-->
<!--                    <div class="service_icon ">-->
<!--                        <img src="img/svg_icon/service_3.png" alt="">-->
<!--                    </div>-->
<!--                    <div class="service_content">-->
<!--                        <div class="apply_btn">-->
<!--                            <button class="boxed-btn3" type="submit">수정</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- 구 스토리보드 마이페이지(정보수정) End  -->

<!-- 정보수정 양식 Start -->
<div class="apply_form_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form action="#" class="apply_form">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="apply_info_text text-center">
                                <h3>회원정보 수정</h3>
                                <p style="color:red;">회원 구분 변경은 관리자 심사 후 반영됩니다.</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field">
                                <input type="text" placeholder="아이디">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field">
                                <input type="text" placeholder="비밀번호 입력">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="single_field">
                                <input type="text" placeholder="비밀번호 확인">

                            </div>
                        </div>
                        <div class="single_field">
                            <button class="genric-btn info-border">비밀번호 수정</button>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field">
                                <input type="text" placeholder="이름">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="single_field">
                                <input type="text" placeholder="이메일 주소">
                            </div>
                        </div>
                        <div class="single_field">
                            <button class="genric-btn info-border">인증메일 전송</button>
                        </div>
                        <div class="col-md-10">
                            <div class="single_field">
                                <input type="text" placeholder="이메일 인증번호">
                            </div>
                        </div>
                        <div class="single_field">
                            <button class="genric-btn info-border">인증</button>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field">
                                <input type="text" placeholder="카드 번호">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field">
                                <input type="text" placeholder="유효 기간">
                            </div>
                        </div>

                        <!-- 회원구분 선택 -->
                        <div class="col-md-12">
                            <div class="center" style="display: block;">
                                <label class="interval">
                                    <input type="radio" id="typeNormal" name="memberType" value="" onClick="memType()" checked>
                                    일반 회원
                                </label> <label class="interval">
                                    <input type="radio" id="typeSecurity" name="memberType" value="" onClick="memType()">
                                    경비 회원
                                </label> <label class="interval">
                                    <input type="radio" id="typeAdmin" name="memberType" value="" onClick="memType()">
                                    관리자 회원
                                </label>
                            </div>
                        </div>


                        <div id="x1">항목01번을선택하였습니다</div>
                        <div id="x2">항목02번을선택하였습니다</div>
                        <div id="x3">항목03번을선택하였습니다</div>





                        <div class="col-md-12">
                            <div class="submit_btn">
                                <button class="boxed-btn3" type="submit">확인</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--/ 정보수정 양식 Start -->


{{>layout/footer}} <!-- >는 현재 머스테치 파일을 기준으로 다른 파일을 가져옴. -->